#mainBody {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
    height: 40vw;
}
#loadingText{
    font-size: 1.2rem;
}
#buttonsSignUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:7px;
    width: 100%;
    margin-top: 8px;
}
#signUpActual{
    font-size: 0.95rem;
    background-color:#5C3E94;
    border:none;
    border-radius:8px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    font-weight: 300;
    width: 70%;
    font-family: "Poppins", sans-serif;
}
#signUpActual2{
    font-size: 0.95rem;
    background-color:#5C3E94;
    border:none;
    border-radius:8px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    font-weight: 300;
    width: 70%;
    font-family: "Poppins", sans-serif;
}
#signUpActual4{
    font-size: 0.95rem;
    background-color:#5C3E94;
    border:none;
    border-radius:8px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    font-weight: 300;
    width: 70%;
    font-family: "Poppins", sans-serif;
}
#signUpActual3{
    font-size: 0.95rem;
    background-color:#5C3E94;
    border:none;
    border-radius:8px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    font-weight: 300;
    width: 70%;
    font-family: "Poppins", sans-serif;
}
#signUpActual:hover{
    background-color:hsl(261 41 31);
    transition: background-color 2s;
}
#signUpActual4:hover{
    background-color:hsl(261 41 31);
    transition: background-color 2s;
}
a{
    cursor: pointer;
}
button{
    cursor: pointer;
}
#signUpG{
    font-size: 0.95rem;
    border:1px solid #5C3E94;
    border-radius:8px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    padding-top: 5px;
    background-color: transparent;
    padding-bottom: 5px;
    color: black;
    display: flex;
    justify-content: center;
    gap:30px;
    align-items: center;
    font-weight: 300;
    width: 70%;
    font-family: "Poppins", sans-serif;
}
#signUpG:hover{
    transition: background-color 1s;
    background-color:hsl(261 41 31);
    color: white;
}
#signUpG > #image{
    display: flex;
    margin: 0;
    padding: 0;
    width: 40%;
}
#errors>#success{
    background-color: #57C057;
    border-radius: 5px;
    padding-left: 8px;
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:5px;
    margin: 0;
}
#errors5>#success{
    background-color: #57C057;
    border-radius: 5px;
    padding-left: 8px;
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:5px;
    margin: 0;
}
#errors4>#success{
    background-color: #57C057;
    border-radius: 5px;
    padding-left: 8px;
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:5px;
    margin: 0;
}
#errors3>#success{
    background-color: #57C057;
    border-radius: 5px;
    padding-left: 8px;
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:5px;
    margin: 0;
}
#errors2>#success{
    background-color: #57C057;
    border-radius: 5px;
    padding-left: 8px;
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:5px;
    margin: 0;
}
#errors>p:not(#success){
    background-color: red;
    border-radius: 5px;
    padding-left: 8px;
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:5px;
    margin: 0;
}
#errors5>p:not(#success){
    background-color: red;
    border-radius: 5px;
    padding-left: 8px;
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:5px;
    margin: 0;
}
#errors4>p:not(#success){
    background-color: red;
    border-radius: 5px;
    padding-left: 8px;
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:5px;
    margin: 0;
}
#errors2>p:not(#success){
    background-color: red;
    border-radius: 5px;
    padding-left: 8px;
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:5px;
    margin: 0;
}
#errors3>p:not(#success){
    background-color: red;
    border-radius: 5px;
    padding-left: 8px;
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap:5px;
    margin: 0;
}
#errors{
    margin-top: 30px;
    display: flex;
    gap:5px;
    width: 100%;
    flex-direction: column;

}
#errors4{
    margin-top: 30px;
    display: flex;
    gap:5px;
    width: 100%;
    flex-direction: column;

}
#errors5{
    margin-top: 30px;
    display: flex;
    gap:5px;
    width: 100%;
    flex-direction: column;

}
#errors2{
    margin-top: 30px;
    display: flex;
    gap:5px;
    width: 100%;
    flex-direction: column;

}
#errors3{
    margin-top: 30px;
    display: flex;
    gap:5px;
    width: 100%;
    flex-direction: column;

}
#signUpG > div:not(#image){
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}
input[type="checkbox"]{
    accent-color: #5C3E94;
}
#animationLoad{
    position: absolute;
    background-color: rgba(239, 239, 239, 0.7);
    top:0;
    right:0;
    display: flex;
    visibility: hidden;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.header{
    width: 100%;
}


#userInfo {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;
    width: 98%;
}
label{
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
}
input {
    background-color: #EFEFEF;
    border: none;
    padding: 12px 6px;
    font-size: 0.9rem;
    border-radius: 6px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    outline: none;
}
select {
    background-color: #EFEFEF;
    border: none;
    padding: 12px 6px;
    font-size: 0.9rem;
    border-radius: 6px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    outline: none;
}
input:focus{
    border: solid 1px #5C3E94;
}
select:focus{
    border: solid 1px #5C3E94;
}
#form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:10px;
}
.schoolInfo{
    display: flex;
    width: 100%;
    gap:20px;
}